<%= form_for(@sshkey) do |f| %>
    <% if @sshkey.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sshkey.errors.count, "error") %> prohibited this sshkey from being saved:</h2>

          <ul>
            <% @sshkey.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.collection_select(:user_id, User.where("ldapowner LIKE ?", "%#{session[:nickname]}%"), :id, :username) %>
    </div>
    <div class="field">
      <%= f.label :key %><br>
      <%= f.text_field :key %>
    </div>
    <div class="field">
      <%= f.label :keytype %><br>
      <%= f.select :keytype, options_for_select([['ssh-dss', 'ssh-dss'],['ssh-rsa', 'ssh-rsa']]) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
