<%= form_for(@user, url: {action: "do_password_reset"},:html => {:multipart => true}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited the password from being changed</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= label_tag :username %><br>
      <%= text_field_tag :username, User.find(params[:id]).username, readonly: true %>
    </div><br>

    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div><br>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
