<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>

  <%= User.find(@role.user_id).username %>
</p>

<p>
  <strong>Role:</strong>
  <%= @role.role %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
